{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}
{% if locale == "" %}{% assign locale = "en" %}{% endif %}
{% if page.locale %}{% assign locale = page.locale %}{% endif %}
<div class="blog-index">
  <div id="excerpt">
    <div class="code-sample">
      {% include code_sample.markdown %}
    </div>
    <div class="hint">
      <h2>Ruby</h2>
      <p>is a dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.</p>
      <p class="more"><a href="{{ locale }}/documentation">Read more…</a></p>
    </div>
  </div>
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <nav role="pagination">
    <div>
      {% if paginator.next_page %}
        <a class="prev" href="{{ site.root }}page{{paginator.next_page}}/">&larr; Older</a>
      {% endif %}
      <a href="{{ site.root }}blog/archives">Blog Archives</a>
      {% if paginator.previous_page and paginator.previous_page > 1 %}
        <a class="next" href="{{ site.root }}page{{paginator.previous_page}}/">Newer &rarr;</a>
      {% elsif paginator.previous_page %}
        <a class="next" href="{{ site.root }}">Newer &rarr;</a>
      {% endif %}
    </div>
  </nav>
  {% if site.disqus_short_name %}
  <script type="text/javascript">
      var disqus_shortname = '{{ site.disqus_short_name }}';
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
  </script>
  {% endif %}
</div>
<aside role=sidebar>
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
